[submodule "PeerKart-backend"]
	path = PeerKart
	url = https://github.com/arxxv/PeerKart.git
[submodule "peerkartandroid"]
	path = peerkartandroid
	url = https://github.com/Arsh-ak7/peerkartandroid.git
	branch = rest-backend
[submodule "peerkart-frontend"]
	path = peerkart-frontend
	url = https://github.com/Arsh-ak7/peerkart-frontend
